<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Казино 🎰</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <div id="fireworks-container"></div>
  <div class="container">
    <h1>Казино 🎰</h1>
    <p id="username">Привет, пользователь!</p>
    <p id="balance">Ваш баланс: ...</p>
    <div class="slot-сontainer">
      <div id="reel" class="slot-machine">
      </div>
      <input type="number" id="bet" placeholder="Ставка" min="1">
      <button id="spinButton">Крутить!</button>
      <p id="result"></p>
      <p id="notification"></p>
      <button id="daily-bonus">Получить ежедневный бонус</button>
      <p id="bonus-message"></p>
      <button onclick="location.href='templates/shop'" class="shop-button">Перейти в магазин 🛍️</button>
      <h2>Таблица лидеров</h2>
      <ul id="leaderboard"></ul>

    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>