<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Казино</title>
</head>

<body>
  <h1>Казино 🎰</h1>
  <p id="username">Привет, пользователь!</p>
  <p id="balance">Ваш баланс: ...</p>
  <input id="bet-amount" type="number" placeholder="Введите ставку">
  <button id="slots">Играть в слоты</button>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>